{% extends "base.html" %}

{% block content %}
<a class="backlink" href="/">Home</a>
<h1>{{ post }}</h1>
<p class="byline">
  Posted by {{ post.author.username }} &mdash; {{ post.published_date }}
</p>
<div class="post-body">
  {{ post.text }}
</div>

<ul class="categories">
  {% for category in post.categories.all %}
    <li>{{ category }}</li>
  {% endfor %}
</ul>

<ul class="comment">
  {% for comment in post.comments.all %}
    <li>{{ comment }}</li>
  {% endfor %}
</ul>

<form method="post" >
    {% csrf_token %}
    {{comment_form}}
    <button type="submit" class="btn btn-primary  btn-lg">Submit</button>
</form>

{% endblock %}